/*div.card-text ul.tree li {
    padding: 5px;
}*/

div.card-text ul.tree li:hover {
    background-color: rgba(0,0,0,.03);
}
div.card-text ul.tree li.directory > div{
    margin-top: 5px;
    padding: 5px;
}

div.card-text ul.tree li.activity{
    padding: 5px;
}

div.card-text ul.tree li.activity > div{
    padding: 0;
}

ul.tree li > div{
    display: flex;
}

ul.tree li > div .instancename{
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    padding-right: 5px;
}

ul.tree li > div form{
    display: flex;
}

ul.tree li img.activityicon {
    height: 16px;
    width: 16px;
    margin: 2px 5px auto 0;
}
span.commands{
    margin-left: auto;
    display: flex;
    align-items: center;
}

span.commands form {
     display: flex;
     margin-bottom: 0;
 }

span.commands form select{
    height: auto;
}

span.commands i.fa {
    margin: 0;
    padding: 0.3em;
    width: 20px;
    height: 20px;
    color: #373a3c;
}

span.commands i.fa:hover {
    cursor: pointer;
}

.label {
    font-weight: 400;
}

.label div span img {
    max-width: 200;
    width: auto;
    max-height: 100px;
    height: auto;
}

ul.list li.move-to {
    border: #c9cacb 2px dashed;
    padding: 0;
    margin: 5px;
}

.move-to a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.move-to a:hover {
    text-decoration: none;
}

.move-to p {
    height: 100%;
    text-align: center;
    margin: 5px;
    color: #9b9d9e;
}

/* IKKE VORES - RYD OP */
.header-commands {
    margin-top: 5px;
}
.header-commands img {
    margin-left: 0 !important;
}