/* SHARING CART TREE START */

.block_sharing_cart div.card-text ul.tree li:hover {
    background-color: rgba(0, 0, 0, .03);
}

.block_sharing_cart div.card-text ul.tree li.directory > div {
    padding: 5px;
}

.block_sharing_cart div.card-text ul.tree li.activity {
    padding: 5px;
}

.block_sharing_cart div.card-text ul.tree li.activity > div {
    padding: 0;
}

.block_sharing_cart ul.tree li.disabled {
    background-color: #f2dede;
}

.block_sharing_cart ul.tree li > div {
    display: flex;
}

.block_sharing_cart ul.tree li > div form {
    display: flex;
    flex-wrap: nowrap;
}

.block_sharing_cart ul.tree li > div .instancename,
.block_sharing_cart ul.tree li > div .instancename .no-overflow p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    margin: 2px 0 auto 0;
    width: 100%;
}

.block_sharing_cart ul.tree li img.activityicon {
    height: 16px;
    width: 16px;
    margin: auto 5px auto 0;
}

.block_sharing_cart span.commands {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.block_sharing_cart span.commands form {
    margin-bottom: 0;
}

.block_sharing_cart span.commands form select,
.block_sharing_cart span.commands form input {
    line-height: 20px;
    height: auto;
    border: 1px solid #b1b1b1;
    box-sizing: border-box;
    padding: 5px 25px 5px 5px;
    width: 150px;
    margin-left: 5px;
}

.block_sharing_cart span.commands form input:focus {
    box-shadow: none;
}

.block_sharing_cart span.commands i.fa {
    margin: 0;
    padding: 0 0.3em;
    height: 20px;
}

.block_sharing_cart span.commands i.fa:hover {
    cursor: pointer;
}

.block_sharing_cart span.commands a {
    margin: auto;
}

.block_sharing_cart li.label {
    font-weight: 400;
}

.block_sharing_cart li.label p {
    margin-bottom: 0;
}

.block_sharing_cart .label div span img {
    max-width: 200px;
    width: auto;
    max-height: 100px;
    height: auto;
}

.block_sharing_cart div.card-text ul.list li.move-to {
    border: #c9cacb 2px dashed;
    padding: 0;
    margin: 5px;
}

.block_sharing_cart .move-to a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.block_sharing_cart .move-to a:hover {
    text-decoration: none;
}

.block_sharing_cart .move-to p {
    height: 100%;
    text-align: center;
    margin: 5px;
}

.block_sharing_cart .toggle-wrapper {
    width: 100%;
    min-width: 0;
    display: flex;
}

.block_sharing_cart .toggle-wrapper i.fa {
    margin: auto 5px auto 0;
}

.block_sharing_cart .footer {
    margin-top: 10px;
}

.block_sharing_cart .footer form {
    padding-top: 14px;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.block_sharing_cart .footer .header-commands {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.block_sharing_cart .footer form select {
    min-width: 0;
    width: 100%;
    margin-right: 10px;
}

.block_sharing_cart .footer form input {
    margin-top: 10px;
    width: 100%;
}

.block_sharing_cart .block_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
}

/* SHARING CART TREE END */

/* MODAL START */
.modal-checbox-wrapper.modal-sharing_cart {
    display: flex;
    margin-top: 20px;
}

.modal-checbox-wrapper.modal-sharing_cart input {
    margin: auto 0;
}

.modal-checbox-wrapper.modal-sharing_cart label {
    margin: auto 0 auto 5px;
}

/* MODAL END */

/* ACTIVITIES & SECTION STYLING START */
.node_spinner.node_spinner-sharing_cart {
    height: 100%;
    margin: auto;
    font-size: 16px;
}

/* ACTIVITIES & SECTION STYLING END */

/* BULK VIEW START */
.block_sharing_cart .bulk-delete-list {
    list-style: none;
    padding-left: 10px;
}

.block_sharing_cart .bulk-delete-select-all {
    display: flex;
    padding-left: 20px;
    margin-right: 10px;
}

.block_sharing_cart .bulk-delete-item {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 5px 10px;
}

.block_sharing_cart .bulk-delete-item label {
    text-align: left;
}

.block_sharing_cart .bulk-delete-item:last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.block_sharing_cart .bulk-delete-item:hover {
    background-color: rgba(0, 0, 0, .03);
}

.block_sharing_cart .bulk-delete-item input {
    margin: auto 10px auto 0;
}

.block_sharing_cart .bulk-delete-item label {
    margin: auto 0 auto 5px;
}

.block_sharing_cart .bulk-delete-item img {
    height: 15px;
    width: 15px;
    margin: auto 0;
}

/* BULK VIEW END */

/* IKKE VORES - RYD OP */
.block_sharing_cart .header-commands img {
    margin-left: 0 !important;
}
