.block.block_sharing_cart {
  .sharing_cart_items {
    display: flex;
    flex-direction: column;

    .sharing_cart_item {
      display: flex;
      flex-direction: column;
      width: 100%;
      cursor: auto;

      &:hover {
        background-color: rgba(0, 0, 0, .03);
      }

      &[data-type="course"], &[data-type="section"] {
        cursor: pointer;
      }

      &[data-status="0"] {
        cursor: auto;
        .item-body {
          .info {
            color: rgba(0, 0, 0, .5);
          }
          .sharing_cart_item_actions {
            display: none;
          }
        }
      }

      // Not course or section (meaning module)
      &:not([data-type="course"]):not([data-type="section"]) {
        .item-body {
          .info {
            img {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }

      // Collapsed
      &[data-collapsed="true"] {
        .sharing_cart_item_children {
          display: none;
        }
      }

      .item-body {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        align-items: center;
        gap: 0.5rem;

        .info {
          display: flex;
          align-items: center;
          width: 100%;
          min-width: 0;
          flex: 1 1 auto;

          .name {
            margin-left: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .sharing_cart_item_actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: auto;
          gap: 0.5rem;

          i {
            cursor: pointer;
          }
        }
      }

      .sharing_cart_item_children {
        display: flex;
        flex-direction: column;
      }
    }
  }
}