<div>
    {{#has_quiz}}
        <div class="mb-2 p-2 alert alert-warning">
            <p class="mb-0">{{#str}}copy_quiz_warning, block_sharing_cart{{/str}}</p>
        </div>
    {{/has_quiz}}
    <div>
        {{#show_user_data_backup}}
            <h6>{{#str}}backup_settings, block_sharing_cart{{/str}}:</h6>
            <div class="form-check">
                <input type="checkbox" id="modal-userdata-checkbox" class="form-check-input"/>
                <label for="modal-userdata-checkbox" class="form-check-label">{{#str}}
                    copy_user_data, block_sharing_cart{{/str}}</label>
            </div>
            {{#show_anonymize_user_data}}
                <div class="form-check">
                    <input type="checkbox" id="modal-anonymize-checkbox" class="form-check-input" disabled/>
                    <label for="modal-anonymize-checkbox" class="form-check-label">{{#str}}
                        anonymize_user_data, block_sharing_cart{{/str}}</label>
                </div>
            {{/show_anonymize_user_data}}
        {{/show_user_data_backup}}
        {{^show_user_data_backup}}
            <span>{{#str}}backup_without_user_data, block_sharing_cart{{/str}}</span>
        {{/show_user_data_backup}}
    </div>
</div>

{{#js}}
    (() => {
    const modalUserdataCheckbox = document.getElementById('modal-userdata-checkbox');
    const modalAnonymizeCheckbox = document.getElementById('modal-anonymize-checkbox');

    modalUserdataCheckbox?.addEventListener('change', () => {
    if (modalUserdataCheckbox?.checked) {
    modalAnonymizeCheckbox?.removeAttribute('disabled');
    } else {
    if(modalAnonymizeCheckbox?.checked) {
    modalAnonymizeCheckbox.checked = false;
    }
    modalAnonymizeCheckbox?.setAttribute('disabled', true);
    }
    });
    })();
{{/js}}
