<div class="form-check">
    <input type="checkbox" class="form-check-input" data-id="{{id}}" data-type="{{type}}" checked/>
    <label class="form-check-label">
        {{#mod_icon}}
            <img src="{{mod_icon}}" alt="" style="height: 1rem;"/>
        {{/mod_icon}}
        {{title}}
    </label>
    <div class="item-children">
        {{#course_modules}}
            {{> block_sharing_cart/modal/import_item_form_element }}
        {{/course_modules}}
    </div>
</div>