<div class="import_form">
    <p>{{#str}}confirm_copy_item_form_text, block_sharing_cart{{/str}}</p>
    {{#sections}}
        {{> block_sharing_cart/modal/import_item_form_element }}
    {{/sections}}
</div>