<div>
    <div class="sharing_cart_items">
        {{#items}}
            {{> block_sharing_cart/block/item}}
        {{/items}}
        {{^items.0}}
            <div class="alert alert-info mb-0">
                {{#str}}no_items, block_sharing_cart{{/str}}
            </div>
        {{/items.0}}
    </div>
    <hr>
    <div class="d-flex">
        <a class="btn btn-primary w-100 d-flex flex-row justify-content-center align-items-center">
            <i class="fa fa-shopping-basket mr-1"></i>{{#str}}copy_this_course, block_sharing_cart{{/str}}
        </a>
    </div>
</div>
