{{#status_awaiting}}
    <i class="fa fa-spinner"></i>
{{/status_awaiting}}
{{#status_finished}}
    {{#is_section}}
        {{#is_current_version}}
            <i class="fa fa-folder-o"></i>
        {{/is_current_version}}
        {{^is_current_version}}
            {{#has_file_id}}
                <i class="fa fa-exclamation-circle text-info"
                   title="{{#str}}old_version_section_info, block_sharing_cart{{/str}}"></i>

            {{/has_file_id}}
            {{^has_file_id}}
                <i class="fa fa-exclamation-triangle text-warning"
                    title="{{#str}}legacy_section_info, block_sharing_cart{{/str}}"></i>
            {{/has_file_id}}
        {{/is_current_version}}
    {{/is_section}}
    {{#is_module}}
        {{#is_current_version}}
            <img src="{{mod_icon}}" alt=""/>
        {{/is_current_version}}
        {{^is_current_version}}
            <i class="fa fa-exclamation-circle text-info"
               title="{{#str}}old_version_module_info, block_sharing_cart{{/str}}"></i>
        {{/is_current_version}}
    {{/is_module}}
{{/status_finished}}
{{#status_failed}}
    <i class="fa fa-exclamation-circle text-danger"
       title="{{#str}}backup_failed, block_sharing_cart, {{task_id}}{{/str}}"></i>
{{/status_failed}}
